@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --sidebar-color : #f0f4f9;
  --new-chat-color:#e6eaf1;
  --gray: gray;
  --dark-gray:#282828;
  --light-gray:#e2e6eb;
  --nav-color :#585858;
  --greet-color:#c4c7c5;
  --bg-card:#dfe4ea;
  --bg-card-hover:#f0f4f9;
}

#root{
  animation: fadeIn 1.5s;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
